html
body {
  background: #000000;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical {
  text-align: center;
}